@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

.slider-prev {
    left: 18 !important;
}

.slider-next {
    right: -18 !important;
}

.slide-prev,
.slide-next {
    z-index: 99;
    width: 30px;
    height: 100%;
    background: transparent;
}

.app {
    background-color: #111;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: gray;
}
